.BoxCard {
    margin-top: 30px;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10;

    border-radius: 12px;

    background: #FFF;
    
    .content {
        width: 304px;
        color: black;

        .SubTitulo {
            color: #666;
        }

        .title {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }

        .BoxButtons {
            display: flex;

            .pencil {
                position: absolute;

                padding-left: 53px;
                padding-top: 11px;
                color: white;
            }

            .buttomEditar {
                width: 80px;
                height: 40px;

                border: 0;
                border-radius: 5px;

                background-color: #008CBA;
                color: white;
                font-family: 'Poppins', sans-serif;

                text-align: start;
                padding: 10px;

                cursor: pointer;
            }

            .trash {
                position: absolute;

                padding-left: 150px;
                padding-top: 12px;
                color: white;
            }

            .buttomDeletar {
                width: 80px;
                height: 40px;
                
                margin-left: 10px;

                border: 0;
                border-radius: 5px;

                background-color: #F44336;
                color: white;
                font-family: 'Poppins', sans-serif;

                text-align: start;
                padding: 10px;

                cursor: pointer;
            }
        }
    }
}